In [1]:
import pandas as pd
import tweepy
import re
from textblob import TextBlob
import matplotlib.pyplot as plt
import string

In [10]:
#loads the CSV file and selects only the column relevant to this analysis
df = pd.read_csv("covidvaccinedata.csv", usecols = [0,10])

In [11]:
df

         index                                               text
0            1  Australia to Manufacture Covid-19 Vaccine and ...
1            2  #CoronavirusVaccine #CoronaVaccine #CovidVacci...
2            3  Deaths due to COVID-19 in Affected Countries\n...
3            4  @Team_Subhashree @subhashreesotwe @iamrajchoco...
4            5  @michellegrattan @ConversationEDU This is what...
...        ...                                                ...
156491  156492  Very good news about the efficacy of the J&amp...
156492  156493  ðŸ‡¨ðŸ‡³'s Foreign Minister Wang Yi has also said th...
156493  156494  Super excited to have received my second #covi...
156494  156495  Repeat after me, Canadians are polite, they wo...
156495  156496  Instead of postponing psl why not vaccinate al...

[156496 rows x 2 columns]

In [12]:
# drop the NaNs in the 'text' column

df3 = df.dropna(subset=['text'])

In [13]:
# identify the ones that are NaN

df3[df3['text'].isna() == True]

Empty DataFrame
Columns: [index, text]
Index: []

In [14]:
# validate the data types in the dataset

df3['text'].apply(lambda x : type(x)).unique()

array([<class 'str'>], dtype=object)

In [15]:
df3

         index                                               text
0            1  Australia to Manufacture Covid-19 Vaccine and ...
1            2  #CoronavirusVaccine #CoronaVaccine #CovidVacci...
2            3  Deaths due to COVID-19 in Affected Countries\n...
3            4  @Team_Subhashree @subhashreesotwe @iamrajchoco...
4            5  @michellegrattan @ConversationEDU This is what...
...        ...                                                ...
156491  156492  Very good news about the efficacy of the J&amp...
156492  156493  ðŸ‡¨ðŸ‡³'s Foreign Minister Wang Yi has also said th...
156493  156494  Super excited to have received my second #covi...
156494  156495  Repeat after me, Canadians are polite, they wo...
156495  156496  Instead of postponing psl why not vaccinate al...

[156491 rows x 2 columns]

In [16]:
def cleanUpTweet(txt):
    # Remove mentions
    txt = re.sub(r'@[A-Za-z0-9_]+', '', txt)
    # Remove hashtags
    txt = re.sub(r'#', '', txt)
    # Remove retweets:
    txt = re.sub(r'RT : ', '', txt)
    # Remove urls
    txt = re.sub(r'https?:\/\/[A-Za-z0-9\.\/]+', '', txt) 
    #removes stop words
    txt = re.sub(r'the', '', txt)
    txt = re.sub(r'and', '', txt)
    txt = re.sub(r'to', '', txt)
    
    #remove punctuations 
    txt = re.sub(r'[^\w\s]', '', txt)
    
    return txt

df3['text'] = df3['text'].apply(cleanUpTweet)

C:\Users\15038\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [17]:
df3

         index                                               text
0            1  Australia  Manufacture Covid19 Vaccine  give i...
1            2  CoronavirusVaccine CoronaVaccine CovidVaccine ...
2            3  Deaths due  COVID19 in Affected Countries\nRea...
3            4                            Stay safe  di amp  da
4            5    This is what passes for leadership in our co...
...        ...                                                ...
156491  156492  Very good news about  efficacy of  JampJ vacci...
156492  156493  s Foreign Minister Wang Yi has also said that ...
156493  156494  Super excited  have received my second covidva...
156494  156495  Repeat after me Canadians are polite y wont lo...
156495  156496  Instead of postponing psl why not vaccinate al...

[156491 rows x 2 columns]

In [9]:
df3.to_csv (r'C:\Users\schoo2\Desktop\HW\Covid-Vaccine-Hashtagged-Tweets\Cleaned_Tweets_030821.csv', index = False, header = True, sep = "|")